<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings/>
  <appSettings>
    <add key="ida:Tenant" value="microsoft.onmicrosoft.com"/>
    <add key="ida:Audience" value="624c65a2-4295-4697-97b8-14241015e667"/>
    <add key="Logging:InstrumentationKey" value="b5553c05-9b05-471c-9040-82540ec6744b"/>
    <add key="Logging:EndPointUrl" value="https://vortex.data.microsoft.com/collect/v1"/>
    <add key="Logging:DiagnosticLevel" value="3"/>
    <add key="Logging:PerfMetricEnabled" value="true"/>
    <add key="Security:RoleMapFile" value="~/App_Data/AuthorizationRules.json"/>
    <add key="SettingsStore:EndPoint" value="https://fxpservicedbdev.documents.azure.com:443/"/>
    <add key="SettingsStore:CollectionLink" value="dbs/SettingsDB/colls/SettingsCollection"/>
    <add key="DataStore:CollectionLink" value="dbs/SettingsDB/colls/DataCollection"/>
    <add key="SettingsStore:CustomSettingsInfoFile" value="~/App_Data/CustomSettings.json"/>
    <add key="SettingsStore:RetryCount" value="3"/>
    <add key="SettingsStore:RetryIntervalInSec" value="1.0"/>
    <add key="SettingsStore:PreferredLocations" value="West US;East US"/>
    <add key="DataStore:MaxItemCount" value="1000"/>
    <add key="DataStore:SystemMessagesCacheDuration" value="1440"/>
    <add key="EnableHttpTransactionTimeLogging " value="true"/>
    <!-- Changes to App Settings by Package -->
    <add key="ItAuthResourceUri" value="https://ITAAzureAADUATResource"/>
    <add key="ItAuthResourceUriAADService" value="https://pas.windows.net"/>
    <add key="UseAADAuthorizationService" value="true"/>
    <add key="ItAuthClientId" value="4b1254e7-0681-4a29-8351-a933a66b0306"/>
    <add key="ItAUthPartnerUserUpnFormat" value="partners.extranet.microsoft.com"/>
    <add key="PartnerUserUpnPrefix" value="partners~"/>
    <add key="ItAUthBusinessDomainName" value="FieldExprience"/>
    <add key="AuthBusinessDomainClientId" value="0c7cbb08-a935-4b11-a5f3-55ff12271c64"/>
    <add key="AADPartnerUserUpnFormat" value="partners.microsoft.net"/>
    <add key="AdminRoleName" value="OBOAdmin"/>
    <add key="ActonBehalfHttpHeader" value="X-ActonBehalfMode"/>
    <add key="CorrelationIdHeader" value="X-CorrelationId"/>
    <add key="ItaClaimServiceUrl" value="https://itaauthzuat.trafficmanager.net/AuthorizationDataService.svc"/>
    <!-- Cache Settings-->
    <add key="EnableCache" value="true"/>
    <add key="EnableClaimsCache" value="true"/>
    <add key="CacheExpiryMinutes" value="1440"/>
    <add key="CacheExpiryDurationShortInMinutes" value="60"/>
    <add key="CacheExpiryDurationMediumInMinutes" value="1440"/>
    <add key="CacheExpiryDurationLongInMinutes" value="10080"/>
    <add key="InMemoryCacheExpiryDurationInMinutes" value="3600"/>
    <add key="RedisCache:ConnectTimeoutInMilliSeconds" value="5000"/>
    <add key="RedisCache:SyncTimeoutInMilliSeconds" value="2000"/>
    <add key="TelemetryEnv:EnvironmentName" value="Development"/>
    <add key="TelemetryEnv:ServiceOffering" value="Professional Services"/>
    <add key="TelemetryEnv:ServiceLine" value="Service Delivery"/>
    <add key="TelemetryEnv:Program" value="Field Experience Platform"/>
    <add key="TelemetryEnv:Capability" value="Field Experience (FxP)"/>
    <add key="TelemetryEnv:ComponentName" value="Field Experience Services API"/>
    <add key="TelemetryEnv:IctoId" value="11595"/>
    <add key="TelemetryBusinessProcessEvent:BusinessProcessName" value="Enterprise Services eXPerience"/>
    <!--Api settings-->
    <add key="Validation:MaxSettingsPerRequest" value="5"/>
    <add key="Validation:MaxPersonalizationIdsPerRequest" value="100"/>
    <add key="CorsOrigins" value="http://localhost:40646,https://localhost:40646,https://localhost:5000,http://localhost:5000"/>
    <add key="CryptoCertThumbprint" value="ae182583dc6391f830fc0a8016425a72c7c93d48"/>
    <!--Storage Queue-->
    <add key="AzureStorage:QueueName" value="fxpmessagequeue"/>
    <add key="Notification:AccessRevokedMessage" value="Access revoked for {0}"/>
    <add key="Notification:AccessGrantedMessage" value="Access granted for {0}"/>
    <add key="Notification:MessageLength" value="250"/>
    <add key="KeyVaultUrl" value="https://fxpservicedevkeyvault.vault.azure.net/"/>
    <add key="KeyVaultClientID" value="cee322f8-eef0-425d-b6ca-62ea77b5dad5"/>
  </appSettings>
  <system.web>
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpCookies httpOnlyCookies="true"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff"/>
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="FormsAuthentication"/>
      <remove name="TelemetryCorrelationHttpModule"/>
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler"/>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.28" newVersion="4.0.2.28"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Msit.Telemetry.Extensions.Common" publicKeyToken="482d775f6b3c084e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.3.0" newVersion="2.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IT.Security.Administration" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IT.Security.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IT.Security.AuthorizationDataService.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.6.0.0" newVersion="4.6.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ApplicationInsights" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.0.0" newVersion="2.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.16.0.14" newVersion="3.16.0.14"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <add name="myAppInsightsListener" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>